/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#929292;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
}

/*Cart Css*/


#shopping-cart {
	margin: 40px;
	margin-top: 150px;
}

#shoppingStyle{
	    height: inherit;
}
#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
	    padding: 13px;
    background: #00a39b;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    width: 148px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	    width: 287px;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 335px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	/*float: right;*/
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 0px 15px 0px 15px;
    overflow: auto;
}

._pDNE0kYl {
    margin: 0 -15px;
}
._pDNE0kYl {
    position: relative;
}
.pb-grid {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
}

.__pf {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    color: #212b35;
}
.pb-grid:after {
    content: '';
    display: table;
    clear: both;
}
.pb-grid--two-columns>.grid__column {
    width: 50%;
}

.pb-grid--equal-height>.grid__column {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.grid__column {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}
.pb-grid--equal-height>.grid__column>div {
    width: 100%;
}
._O689JW7n {
    position: relative;
}
._9ADbNDlp {
    padding: 1rem 0;
}




.cart-item-image {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius:100px;
}

.fa-pinterest-p {
  background: #cb2027;
  color: white;
  border-radius:100px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius:100px;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius:100px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius:100px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius:100px;
}

.fa-google-plus {
  background: #dd4b39;
  border-radius:100px;
  color: white;
}

.MobileStyle{
    padding: 3px;float: right;border-left: 1px solid #000;
    font-size: 13px;
}
.Address{
    float: left;padding: 3px;
    color:#515151;
    font-size: 13px;
}
.icon{
    /*color: #000;*/
}
.imgsize{
	  padding: 8px;
  font-size: 15px;
     width: 30px;
  text-align: center;
  text-decoration: none;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}
.CartCount{
	    position: absolute;
    float: left;
    border: 1px solid;
    background: #fff;
    margin-left: -4px;
    color: #000;
    border-radius: 39px;
}
.RoundSocialIcon{
background: #00a59c !important;
/*padding: 2%;*/
/*border-radius: 10%;*/
    padding-top: 10px;
  /*padding: 10px;*/
  border-bottom-left-radius: 200px;
}
/*Cart Css End*/








#shiva
{
	  width: 100px;
	height: 100px;
	background: darkgoldenrod;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 21px;
  float:left;
  margin: 9px;

}
.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}
#talkbubble {
   width: 120px;
   height: 80px;
   background: red;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
  float:left;
  margin:20px;
}
#talkbubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}

.linker
{
  font-size : 20px;
  font-color: black;
}



.dropbtn {/*
    background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 16px;*/
    font-size: 18px;
    border: none;
}
.removeTrialtext{
	color: transparent !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.top{
	margin-top:15px;
}
.tab {
    overflow: hidden;
    border: 1px solid darkgoldenrod;
    background-color: #f1f1f1;
}

.padding15{
	padding: 15px;
	background-color: #00a69c;
}
.tab{
	background-color: #00a69c !important;
}
.tab .tablinks{
    color: #000;
	background: url(../images/menu_split.gif) no-repeat right center;
}
.contact_info{
	padding: 3%;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/*iframe .html5-main-video{
	width:1000px !important;
}*/
#myVideo {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    /*position: fixed;*/
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: darkgoldenrod;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}
.ytp-videowall-still-image{
	display: none !important;
}
.ytp-progress-bar-padding{
 display: none !important;
}
.ytp-chrome-controls:hover{
	display: none !important;
}
iframe > html > body  .ytp-title-link:hover{
	display: none !important;
}
.ytp-title-channel-logo:hover{
	display: none !important;
}
#player >.ytp-watermark:hover{
	display: none !important;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: darkgray;
    color: #fff !important;
}


.dropdown-content a {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.customArticleCss{
	    /*background: black !important;*/
    color: darkgoldenrod;
    margin-top: 15px !important;
}
h2{
	background:#00a69c;
	height: 59px;
	padding-left: 2% !important;
	margin:0px !important;
}
.article div{
	padding: 3px !important;
}
/*.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
.boxshadowLogistics{
	    box-shadow: 1px 1px 1px 1px darkgoldenrod;
    margin-top: 15px;
    padding: 0px !important;
    height:305px;

}
.HomeAbout{
	    box-shadow: 1px 1px 1px 1px darkgoldenrod;
    margin-top: 15px;
    padding: 0px !important;
    height:305px;

}
.boxshadowLogisticsCount{
	box-shadow: 1px 1px 1px 1px darkgoldenrod;
    margin-top: 15px;
    padding: 0px !important;
	height: 120px;
}
.tabcontent p{
	padding: 15px !important;
}
.imgWidthPadding{
	width: 350px;
    height: 235px;
	padding: 3px;
}
.main {
	background:#fff;
}
.imgHeight{
	height:140px !important;
}
.ImageCss{
	    float: left;
    background: #ccc;
    padding: 10px 81px;
    border-right: 1px solid #FFF;
}
.ImageCss > .one{
	font-family: robotor;
    font-size: 17px;
    color: darkgoldenrod;
    margin: 0px;
    padding: 10px 10px 10px 64px;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../images/Truck.png) no-repeat left center;
}
.ImageCss > .two{
	font-family: robotor;
    font-size: 17px;
    color: darkgoldenrod;
    margin: 0px;
    padding: 10px 10px 10px 64px;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../images/box.png) no-repeat left center;
}
.imgContent{
	padding: 8px;
	height: 212px;
}
.image >img{
	width:252px;
	height:180px;
}
.borderImage{
	border:1px solid darkgoldenrod;
}
.ImageCss > .three{
	font-family: robotor;
    font-size: 17px;
    color: darkgoldenrod;
    margin: 0px;
    padding: 10px 10px 10px 64px;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../images/supply-chain.png) no-repeat left center;
}
/*.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}*/

/*body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}*/

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:bold;
	color:#353c3e;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#0087c7;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	/*margin:0 auto;
	padding:0;
	width:960px;*/
}
.logo {
	padding:0;
	float:left;
	width:auto;
	height:120px;
}
h1 {
	margin:0;
	padding:50px 0 0;
	font-size:48px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#000;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	margin:-4px 0;
	padding-left:160px;
	font-size:20px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;
}
.slider {
	padding:0;
	background:no-repeat left bottom;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding: 53px 0 0;
	height:15px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0 0 0 1px;
	height:15px;
	float:left;
	background:url(../images/menu_split.gif) no-repeat left center;
}
.menu_nav ul li {
	margin:0;
	padding:0 20px;
	float:left;
	background:url(../images/menu_split.gif) no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:0;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:darkgoldenrod;
	text-decoration:none;
	text-transform:uppercase;
}
.darkgray{
	color: darkgoldenrod;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:darkgoldenrod;
}
.content {
	padding:0;
}
.content_resize {
	/*margin:0 auto;*/
	padding:18px 0;
	width:100%;
}
ul.b {
    list-style-type: square;
    
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:1129px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:12px;
	font-size:30px;
	line-height:1.2em;
}
.content .mainbar div.img {
	padding:0 0 12px;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	padding:0;
	background:#fff;
	border:none;
}
.content .mainbar .article {
	margin:0 0 32px;
	height: 480px;
	padding:0 0px 16px;
	border:1px solid darkgoldenrod;
	background:#fff url(../images/article_bg.gif) repeat-x left top;
}
 .customArticleCss {
	margin:0 0 32px;
	height: 1140px;
	padding:0 0px 16px;
	border:1px solid darkgoldenrod;
	background:#fff url(../images/article_bg.gif) repeat-x left top;
}
.customArticleCssWithHeight{
		margin:0 0 32px;
	height: 318px;
	padding:0 0px 16px;
	  /*background: black !important;*/
    color: darkgoldenrod;
    margin-top: 15px !important;
	border:1px solid darkgoldenrod;
	background:#fff url(../images/article_bg.gif) repeat-x left top;
}
.content .Custom .ProductHeight {
	margin:0 0 32px;
	height: 450px;
	padding:0 0px 16px;
	border:1px solid darkgoldenrod;
	background:#fff url(../images/article_bg.gif) repeat-x left top;
}
.content .mainbar .post_content {
}
.content .mainbar .post_content strong {
	color:#353c3e;
}
.content .sidebar {
	padding:0;
	float:right;
	width:260px;
}
.content .sidebar .gadget {
	/*margin:0 0 12px;*/
	padding:12px 20px 0px;
}
.content .sidebar h2 {
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#9a9a9a;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#161616;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#0087c7;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:8px;
	padding:6px 0;
	color:#b2b2b2;
}
p.infopost a {
	padding:0 2px;
	color:#6e6e6e;
	text-decoration:underline;
}
p.infopost a.com {
	margin:-6px 0;
	padding-left:4px;
	float:right;
	font-weight:normal;
	text-decoration:none;
	color:#b2b2b2;
}
p.infopost a.com:hover {
	text-decoration:underline;
}
p.infopost a.com span {
	padding-left:4px;
	font-weight:bold;
	color:#0087c7;
	font-size:30px;
}
.content .mainbar .post_content a.rm {
	float:left;
	margin:0 0 16px;
	font-size:12px;
	font-weight:normal;
	text-transform:none;
	color:#0087c7;
	text-decoration:none;
}
.content p.pages {
	margin:0;
	padding:24px 0;
	font-size:11px;
	color:#929292;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#d2d2d2;
}
.content p.pages a {
	color:#929292;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:#1c1c1c;
}
.fbg_resize {
/*	margin:0 auto;
	width:920px;
	padding:16px 20px;*/
}
.fbg h2 {
	color:#fff;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#aeaeae;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#0087c7;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#dbdbdb;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0 0 32px 20px;
	float:left;
}
#formsearch {
	margin:0;
	padding:10px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:170px;
	font-size:12px;
	line-height:14px;
	color:#aeaeae;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#1c1c1c;
}
.footer_resize {
	/*margin:0 auto;
	padding:0 20px;
	width:920px;*/
	line-height:1.5em;
	color:#6b6b6b;
	border-top:1px solid #434444;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:darkgoldenrod;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#dbdbdb;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}

.roundShape{
	 float: left;   width: 150px;    margin: 37px;
    border: 2px solid #ddd;text-align: center;border-radius: 100px;
    height: 150px;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    background:#fff; 
    line-height: 22px;
}
.roundShape:hover{
	background:#00a39b;
	color: #fff; 
}
.roundShape p{
	padding: 5px; 
}







/*Media query moblie start*/
@media screen and (max-width: 992px) {
	.content .mainbar{
		width: 100%;
		margin: 0;

        padding: 0;
        float: left;
	}
	.DetailedHeight{
	height:950px !important;
	font-size: 35px !important;
}
	.container{
		width:100% !important;
	}
	.header_resize{
		margin-top: 0px;
	}
	
	.HomeAbout{
		height: 520px !important;
		 box-shadow: 1px 1px 1px 1px darkgoldenrod;
    margin-top: 15px;
    padding: 0px !important;
    height:305px;
    	font-size: 28px !important;

	}
	.borderHeight{
		height: 400px !important;
	}
	 .responsiveImg{
	 	width: 335px !important;
    height: 357px !important;
	 }
    .ContentImage{
    	margin-top: -320px !important;
    float: right !important;
    margin-left: 350px !important;
    }

	.boxshadowLogistics {
		height: 850px !important;
		font-size: 28px !important;
	}
	.darkLogisticsImg{
		width: 100% !important;
	}
	.ImageContent{
		width: 100% !important;
	}
	.widthUnifiedContent{
		margin-top: 100px !important;
	}
	.ImageCss{
		    width: 315px !important;
	}
	.productSheet{
		width: 300px !important;
		float: left !important;
	}
	#ProductHeightDetails{
		height: 770px !important;
	}




	.detailAlign{
		    margin-left: 405px;
    width: 482px;
    font-size: 20px;

	}
	.ResponseFont{
		font-size: 35px !important;
	}
	.tbl-cart{
		    font-size: 25px !important;
	}

.responseHeightForm{
	height:600px !important;
	font-size: 20px;
}
	.detailAlignResp{
       font-size: 30px !important;
	}
	.content .mainbar #ProductHeight{
		height: 530px !important;
	} 
	#ProductObjective{
		height: 650px !important;
	}
	#ProductCertification{
		height: 450px !important;
	}
	.responseHeight{
       height: 302px !important;
	}
	.content .Custom .article{
		height: 1200px !important;
		font-size: 30px !important;
	}
	.content .Custom .ImgwidthHeight
	{
			height: 780px !important;
	}
	.content .mainbar .ImgwidthHeight
	{
			height: 495px !important;
	}
	

.RoundIconResponsive{
	float: right !important;
    width: 743px !important;
    right: -130px !important;
}

	.ProductAlign{
		width: 230px !important;
		float: left !important;
	}
.content_resize .content{
	margin-top: 0px !important;
}

	.menu_nav{
		margin-top: -47px;
    margin-left: 239px;
    padding: 0px !important;
	}
	.menu_nav ul li a span{
		font-size: 35px !important;
		font-weight: normal !important;
	}
	.pContent{
       margin-left: 377px;
    margin-top: -274px;

	}
	.content .mainbar .article{
		width: 100% !important;
		    font-size: 30px !important;
    height: 1102px !important;
	}
	.contactImg{
		width: 100% !important;
	}
	
	.darkgoldenrod{
		  font-size: 30px !important;
	}
	.imgContent{
		font-size: 30px !important;
	}
	.menu_nav ul li.active a, {
		font-size: 15px !important;
	}
}
